@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-width: 375px;
}

body {
  overflow-x: hidden;
}

nav {
  display: flex;
  min-width: 375px;
  height: 10vh;
  background: #3c3a39;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

button {
  transition: 0.5s;
}

.button {
  transition: 0.5s;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 100px;
  height: 24px;
  color: #fff;
  text-decoration: none;
}

.menu-icon {
  padding-right: 24px;
}

.headline-container {
  min-width: 375px;
  background: #1c1a19;
  background-image: url(./images/vec.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 590px;
}

.headline-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  box-sizing: border-box;
  padding: 0 24px;
  margin-bottom: 20px;
}

.headline-content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  box-sizing: border-box;
}

.headline-welcome {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 100px;
}

.headline-intro {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.headline-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.desktop-image {
  display: none;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  gap: 20px;
}

.works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 80px;
  width: 100%;
  height: auto;
  top: 682px;
  background: #fff;
}

.works-title h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.works-title hr {
  border: 1px solid #212121;
  margin-top: 30px;
}

.works-cards {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: 24px;
  width: 100%;
  height: 3028px;
}

.works-card-1 {
  width: 100%;
  height: 568px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  gap: 24px;
}

.works-card-1 h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: -10px;
}

.card-content-1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: -15px;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  gap: 12px;
  list-style-type: none;
}

.tech-stack li {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.works-card-1 button {
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.01em;
  align-self: flex-start;
}

.works-card-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  height: 368px;
  background-repeat: no-repeat;
  background-image: url(./images/Img_Placeholder-card_2.png);
  width: 100%;
  background-size: cover;
}

.works-card-2 h4 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-top: 50px;
}

.card-content-2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.tech-stack-2 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.tech-stack-2 li {
  padding: 10px 12px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.card-2-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 100%;
  height: 48px;
  left: calc(50% - 124px / 2);
  top: calc(50% - 48px / 2);
  background: #ff6b00;
  margin-top: -33px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 1901px;
  left: 0;
  top: 4137px;
  background: #1c1a19;
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  width: 100%;
  height: 563px;
  background-image: url(./images/Group.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.about h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-content {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.about-divider {
  width: 100%;
  top: calc(50% - 0px / 2 + 0.5px);
  border: 1px solid #fff;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 75px;
  padding: 8px 12px;
  gap: 25px;
  width: 100%;
  margin-top: 100px;
}

.list-title h3 {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  align-self: center;
  text-align: center;
}

.list-title-skills {
  margin-left: 40px;
  align-self: center;
}

.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-left: 30px;
}

.list-container li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: white;
  text-align: center;
}

.frameworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.form-section {
  background-color: #fff;
  width: 100%;
  min-width: 375px;
  height: 844px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-left: 2em;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 58px;
}

.form-content p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  min-width: 327px;
}

form input {
  min-width: 327px;
  height: 48px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  background-color: #fff;
  border: none;
  color: #979493;
  border-bottom: 1px solid #dbd8d7;
}

form textarea {
  min-width: 327px;
  height: 114px;
  left: 12px;
  right: 12px;
  top: 12px;
  bottom: 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background-color: #fbf8f7;
  border: none;
  color: #3c3a39;
}

.form-content .button {
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.footer-divider {
  background: #dfe1e6;
  height: 1px;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 40px;
  gap: 10px;
  list-style: none;
  margin-top: 15px;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

button:active {
  background: #e05304;
  color: #f4f1f0;
}

.disabled {
  background: f4f1f0;
  color: #5b5957;
}

.button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.button:active {
  background: #e05304;
  color: #f4f1f0;
}

.button .disabled {
  background: f4f1f0;
  color: #5b5957;
}

.desktop-menu {
  display: none;
}

.desktop-menu-item {
  display: none;
}

.first-name {
  display: none;
}

.last-name {
  display: none;
}

.first-and-last {
  display: none;
}

.works-card-1-desktop {
  display: none;
}

.form-content-paragraph p {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  min-width: 327px;
}

.full-name {
  min-width: 327px;
  height: 48px;
}

.email {
  min-width: 327px;
  height: 48px;
}

.form-textarea {
  min-width: 327px;
  height: 90px;
}

@media only screen and (min-width: 768px) {
  .desktop-menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 1em;
    color: white;
    width: 100%;
    margin-right: 3rem;
  }

  .desktop-menu-item {
    display: flex;
  }

  .menu-icon {
    display: none;
  }

  .desktop-menu-item-link {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
  }

  .logo {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 3rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
  }

  .headline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: none;
    height: 900px;
  }

  .desktop-image {
    display: block;
  }

  .headline-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 75px;
  }

  .headline-content-text {
    margin-top: -250px;
  }

  .headline-welcome {
    font-family: 'Crete Round', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    width: 473px;
  }

  .headline-intro {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    min-width: 566px;
  }

  .headline-paragraph {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 32px;
    width: 566px;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    margin-top: -200px;
  }

  .about-me-container {
    height: 1195px;
    left: 0;
    top: 2680px;
    width: 100%;
  }

  .about {
    width: 100%;
    background-image: url(./images/Group_desktop.png);
    background-position: 100%;
    margin-left: 3.5rem;
  }

  .skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 130px;
    min-width: 768px;
    height: 596px;
    margin-left: -60px;
    gap: 150px;
    margin-top: -75px;
  }

  .about-content {
    width: 566px;
    height: 148px;
    font-size: 20px;
    line-height: 32px;
  }

  .about-divider {
    width: 85%;
    margin-left: 100px;
  }

  .form-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 130px;
    gap: 24px;
  }

  .form-content-paragraph {
    width: 455px;
    height: 256px;
  }

  .form-content-paragraph p {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #262626;
    text-align: left;
  }

  form {
    margin-top: 60px;
  }

  .full-name {
    display: none;
  }

  .first-and-last {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    min-width: 330px;
    height: 48px;
  }

  .first-name {
    display: block;
    width: 100%;
    min-width: 330px;
    height: 48px;
    border-bottom: 1px solid #dbd8d7;
  }

  .last-name {
    display: inline-block;
    width: 100%;
    min-width: 330px;
    height: 48px;
    border-bottom: 1px solid #dbd8d7;
  }

  .form-content .button {
    align-self: flex-start;
  }

  footer ul {
    gap: 20px;
  }

  .works-container {
    height: auto;
    gap: 0;
    padding: 100px;
  }

  .works-cards {
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .works-title hr {
    display: none;
  }

  .works-card-1 {
    display: none;
  }

  .works-card-1-desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    grid-column: 1 / 4;
    min-width: 1168px;
    min-height: 568px;
  }

  .works-card-1-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 450px;
    gap: 18px;
    min-height: 348px;
  }

  .works-card-1-header-container {
    min-width: 448px;
    height: 48px;
  }

  .works-card-1-text h3 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 44px;
  }

  .works-card-1-content-conainter {
    min-width: 448px;
    height: 140px;
  }

  .works-card-1-desktop p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
  }

  .works-card-1-desktop button {
    padding: 12px;
    gap: 10px;
    width: 124px;
    height: 48px;
    background: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.01em;
  }

  .works-card-1-desktop h3 {
    min-height: 500px;
  }

  .card-2-button {
    display: none;
  }

  .works-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .works-title h2 {
    width: 315px;
    height: 52px;
    font-family: 'Crete Round', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
  }

  .works-card-1-desktop span {
    display: flex;
    align-items: center;
  }

  .email {
    min-width: 684px;
    height: 48px;
  }

  .form-textarea {
    min-width: 684px;
    height: 114px;
  }
}
